.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0);
}

.left-column {
  /* background: url; */
  flex-grow: 3;
  max-width: "45%"

}

.right-column {
  /* background-color: black; */
  flex-grow: 4;
  justify-content: center;
  align-items: center;
  max-width: "45%"
 
}

#EventForm {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1987&q=80")
}

#event-form {
  color: white;
}

html { 
  background: url("https://images.unsplash.com/photo-1419242902214-272b3f66ee7a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1987&q=80") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
  height: 100%; 
  width: 100%; 
}

.message {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* width: 100%; 
  height:45%; */
  display: block;
  background-color: rgba(0,0,0,0);
  color: #fff;
  padding: 0.5em;
}

h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 60px;
}


  

.home-buttons {
  border-radius: 6px;
  border: 2px solid white;
  background-color:rgba(71, 3, 114, 0.836);
  transition-duration: 0.4s;
  padding: 12px 28px;
  font-size: 20px;
  font-family: 'Playfair Display', cursive;
  font-style: oblique;
  color: white;
}


.photographerbody {
  font-family: Verdana;
  font-size: 16px;
  color: black;
}
.box {
  height: 187px;
  width: 187px;
  margin-right: 5.5px;
  margin-left: 5.5px;
  margin-bottom: 5.5px;
  margin-top: 5.5px;
  color: white;
  position: relative;
}

.box > span {
  position: absolute;
  bottom: 0;
  left: 0;
}

.form {
  color: white
}